<%
String path = request.getContextPath();
String basePath = request.getScheme() + "://" + request.getServerName() + ":" + request.getServerPort() + path + "/";

response.addHeader("X-FRAME-OPTIONS","DENY");
response.addHeader("X-Xss-Protection","1; mode=block");
response.addHeader("X-Content-Type-Options","nosniff");
//response.addHeader("Content-Security-Policy","script-src 'self'");
response.addHeader("Content-Security-Policy", "frame-ancestors  script-src http://rmsa.ap.gov.in/RMSA/");
response.addHeader("Referrer-Policy","no-referrer");
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<meta charset="UTF-8">
        
         For IE 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        
         For Resposive Device 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

        <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
        <title>:: RMSA ::</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500italic,500,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300,300italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Stroke Gap Icon -->
        <!-- owl-carousel css -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <!-- Custom Css -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">

        <!--[if lt IE 9]>
                                <script src="js/html5shiv.js"></script>
                        <![endif]-->
        <script type='text/javascript'>
            //var isCtrl = false;
            //document.onkeyup=function(e)
            //{
            //if(e.which == 17)
            //isCtrl=false;
            //}
            //document.onkeydown=function(e)
            //{
            //if(e.which == 17)
            //isCtrl=true;
            //if((e.which == 85) == true)
            //{
            //   
            //// alert(&#8216;Keyboard shortcuts are cool!&#8217;);
            //return false;
            //}
            //}
            //var isNS = (navigator.appName == "Netscape") ? 1 : 0;
            //if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
            //function mischandler(){
            //return false;
            //}
            //function mousehandler(e){
            //var myevent = (isNS) ? e : event;
            //var eventbutton = (isNS) ? myevent.which : myevent.button;
            //if((eventbutton==2)||(eventbutton==3)) return false;
            //}
            //document.oncontextmenu = mischandler;
            //document.onmousedown = mousehandler;
            //document.onmouseup = mousehandler;

            //document.onkeydown=function DisableCTRL(e)
            //{
            //var val=(document.all)?event.keyCode:event.which; 
            //if(parseInt(val)==17)//CTRL
            //{
            //alert('Not Allowed!');
            //window.event.returnValue=false;
            //}
            //}

            var isCtrl = false;
            document.onkeyup = function(e) {
                if (e.which == 17)
                    isCtrl = false;

                if (e.which == 16)
                    isCtrl = false;
            }
            document.onkeydown = function(e) {
                if (e.which == 17)
                    isCtrl = true;
                if (e.which == 85 && isCtrl == true) {
                    //run code for CTRL+U -- ie, whatever!
                    //        alert('CTRL + U stuff');
                    return false;
                }
                //I
                if (e.which == 73 && isCtrl == true) {

                    return false;
                }//J
                if (e.which == 74 && isCtrl == true) {

                    return false;
                }
                //F12
                if ((e.which == 123) == true) {

                    return false;
                }
            }

        </script>
    </head>
    <body class="home" oncontextmenu="return false;">
        <!-- =======Header ======= -->
        <header>
            <div class="container-fluid top_header"> 
                <!-- end container --> 
            </div>
            <!-- end top_header -->
            <div class="bottom_header top-bar-gradient">
                <div class="container clear_fix">
                    <div class="row hidden-xs">
                        <div class="">
                            <div class="col-xs-6 col-sm-2 logo"> <a href="index.html"> <img src="img/RMSA-Logo.png" style="width:90px" class="pull-left" alt=""> </a> </div>
                            <div class="col-xs-12 col-sm-8 text-center">
                                <h2 class="logo-txt">Rashtriya Madhyamik Shiksha Abhiyan</h2>
                                <h2 class="logo-sm">( Department of School Education & Literacy Government of A.P )</h2>
                            </div>
                            <div class="col-xs-6 col-sm-2 logo"> <a href="index.html"> <img src="img/Andhra-Pradesh-AP-Govt-Logo.png" style="width:80px" class="pull-right" alt=""> </a> </div>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <div class="">
                            <div class="col-xs-6 logo"> <a href="index.html"> <img src="img/RMSA-Logo.png" style="width:90px" class="pull-left" alt=""> </a> </div>
                            <div class="col-xs-6 logo"> <a href="index.html"> <img src="img/Andhra-Pradesh-AP-Govt-Logo.png" style="width:80px" class="pull-right" alt=""> </a> </div>
                            <div class="col-xs-12 text-center">
                                <h2 class="logo-txt">Rashtriya Madhyamik Shiksha Abhiyan</h2>
                                <h2 class="logo-sm">( Department of School Education & Literacy Government of A.P )</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end container --> 
            </div>
            <!-- end bottom_header --> 
        </header>
        <!-- end header --> 
        <!-- ======= /Header ======= --> 

        <!-- ======= mainmenu-area section ======= -->
        <section class="mainmenu-area stricky">
            <div class="container">
                <nav class="clearfix"> 
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header clearfix">
                        <button type="button" class="navbar-toggle collapsed"> <span class="sr-only">Toggle navigation</span> <span class="fa fa-th fa-2x"></span> </button>
                    </div>
                    <div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="hover_slip">
                            <li><a href="#">Home</a></li>
                            <li class="arrow_down"><a href="#">Schemes</a>
                                <div class="sub-menu">
                                    <ul>
                                        <li><a href="#">Schemes 1</a></li>
                                        <li><a href="#">Schemes 2</a></li>
                                        <li><a href="#">Schemes 3</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Strengthening ESS</a></li>
                            <li><a href="#">Interventions</a></li>
                            <li><a href="#">SEMIS</a></li>
                            <li><a href="#">MIS</a></li>
                            <li><a href="#">GIS</a></li>
                            <li><a href="#">Circulars</a></li>
                            <li><a href="#">G.O's</a></li>
                            <li><a href="#">RTI Act</a></li>
                        </ul>
                    </div>
                    <div class="find-advisor pull-right"> <a href="#" class="advisor ">Contact Us</a> </div>
                </nav>
                <!-- End Nav --> 
            </div>
            <!-- End Container --> 
        </section>
        <!-- ======= /mainmenu-area section ======= --> 

        <!-- ======= revolution slider section ======= -->
        <section class="rev_slider_wrapper me-fin-banner">
            <img src="img/inner.jpg" alt="..." class="img-responsive" />
        </section>
        <!-- ======= /revolution slider section ======= -->

        <!-- ======= Welcome section ======= -->
        <section class="testimonial_sec clear_fix">
            <div class="container">
                <div class="row">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonial_container" style="background: #fff; border: 2px solid #f6ba18;">

                        <div class="innerbodyrow">
                            <div class="col-xs-12">
                                <h3>Form / Report </h3>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Qualifying Exam</label>
                                <select class="form-control textbox">
                                    <option>-- Select Qualifying Exam -- </option>
                                    <option>BIE(AP/TS)</option>
                                    <option>APOSS/TSOSS</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Candidate's Name</label>
                                <input type="text" class="form-control textbox" placeholder="Candidate's Name" />
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Fathers's Name / Mother's Name</label>
                                <input type="text" class="form-control textbox" placeholder="Fathers's Name / Mother's Name" />
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Mobile Number</label>
                                <input type="text" class="form-control textbox" placeholder="Mobile Number" />
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Date Of Birth</label>
                                <input type="text" class="form-control textbox" placeholder="Date Of Birth" />
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Qualifying Examination </label>
                                <input type="text" class="form-control textbox" placeholder="Qualifying Examination HallTicket Number " />
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Qualifying Exam Year  </label>
                                <select class="form-control textbox">
                                    <option>-- Select Qualifying Exam Year -- </option>
                                    <option>2017</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Stream</label>
                                <select class="form-control textbox">
                                    <option>-- Select Stream -- </option>
                                    <option>Engineering (E)</option>
                                    <option>Agriculture & Medical(AM)</option>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">SSC Hall Ticket No</label>
                                <input type="text" class="form-control textbox" placeholder="SSC Hall Ticket No" />
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <label class="formlabel">Fee Amount </label>
                                <input type="text" class="form-control textbox" placeholder="Fee Amount " />
                            </div>


                            <div class="col-xs-12" style="text-align:right">
                                <button class="btn btn-primary">Make payment</button>
                            </div>

                            <div class="clear_fix"></div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                            </tr>
                                            <tr>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End owl --> 
                        </div>

                    </div>
                    <!-- End row --> 
                </div>
                <!-- End Container --> 
        </section>
        <!-- End welcome_sec --> 
        <!-- ======= /Welcome section ======= --> 

        <!-- ======= Who We Are ======= -->

        <!-- ============= Footer ================ -->
        <footer>
            <!-- End top_footer -->
            <div class="bottom_footer container-fluid">
                <div class="container">
                    <p class="float_left">Copyright &copy; RMSA. All rights reserved. </p>
                    <p class="float_right">Designed &amp; Developed by <img src="img/APO.png" class="apo"></p>
                </div>
            </div>
            <!-- End bottom_footer -->
        </footer>
        <!-- ============= /Footer =============== --> 

        <!-- Js File --> 

        <!-- j Query --> 
        <script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
        <script type="text/javascript" src="js/validate.js"></script> 
        <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script> 
        <script type="text/javascript" src="js/jquery.bxslider.min.js"></script> 
        <script src="js/jquery.themepunch.tools.min.js"></script> <!-- Revolution Slider Tools --> 
        <script src="js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider --> 
        <script type="text/javascript" src="js/revolution.extension.actions.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.carousel.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.kenburn.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.layeranimation.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.migration.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.navigation.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.parallax.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.slideanims.min.js"></script> 
        <script type="text/javascript" src="js/revolution.extension.video.min.js"></script> 

        <!-- Bootstrap JS --> 
        <script type="text/javascript" src="js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="js/jquery.appear.js"></script> 
        <script type="text/javascript" src="js/jquery.countTo.js"></script> 
        <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script> 

        <!-- owl-carousel --> 
        <script type="text/javascript" src="js/owl.carousel.js"></script> 
        <script src="js/owl-custom.js"></script> 
        <!-- Custom & Vendor js --> 
        <script type="text/javascript" src="js/custom.js"></script>
    </body>
</html>